/* Media Queries for Responsive Design */

/* Small screens (max-width: 649px) */
@media screen and (max-width: 649px) {
  html {
    font-size: 60%;
  }

  .app-bar {
    grid-template-columns: auto 1fr auto;
    padding: 8px 16px;
  }

  .app-bar .app-bar__menu {
    display: flex;
  }

  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
  }

  .app-bar .app-bar__navigation.open {
    left: 0;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem;  
  }

  .footer-extra {
    flex-direction: column;
    align-items: flex-start; 
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
  }

  .sosmed,
  .email {
    margin-top: 1rem;
    text-align: left;
  }

  .sosmed h1,
  .email h1 {
    font-size: 1.2rem;
  }

  .sosmed a,
  .email a {
    font-size: 1.4rem;
    margin-left: 1rem;
    padding: 18px;  /* Add padding for touch target size */
    box-sizing: border-box; /* Ensure padding is included in width/height */
    min-width: 44px; /* Minimum width for touch target */
    min-height: 44px; /* Minimum height for touch target */  
  }

  .info_container{
    flex-direction: column;
  }

  .menus_container {
    flex-direction: column;
  }
}

/* Medium screens (min-width: 650px) */
@media screen and (min-width: 650px) {
  html {
    font-size: 70%;
  }
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-top: 32px;
  }

  .restaurant-item {
    width: 100%;
  }

  .footer-extra {
    flex-direction: column;
  }
}

/* Large screens (min-width: 800px) */
@media screen and (min-width: 800px) {
  html {
    font-size: 75%;
  }
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

/* Extra large screens (min-width: 850px) */
@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-extra {
    flex-direction: row;
  }

}

/* Extra extra large screens (min-width: 1200px) */
@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-extra {
    flex-direction: row;
  }
}

/* Ultra wide screens (min-width: 1600px) */
@media screen and (min-width: 1600px) {
  .restaurants {
    grid-template-columns: repeat(5, 1fr);
  }


}
